<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>RPS</title>
  </head>
  <body>
     <div class="container">
        <h1>Rock Paper Scissors!</h1>



        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Player One</h2>
                    <form action="/player1" method="post">
                      <label for="player1">Player 1 Choice</label>
                      <select name="player1">
                        <option value="rock" selected>Rock</option>
                        <option value="paper">Paper</option>
                        <option value="scissors">Scissors</option>
                        <option value="lizard">Lizard</option>
                        <option value="spock">Spock</option>
                      </select>

                      <button type="submit">Choose</button>
                    </form>



                </div>
                <div class="col-md-2">
                    <form  action="/results" method="post">
                        <button type="submit" name="button" class="btn btn-primary">SHOOT</button>
                    </form>

                        <a href="/"><button type="submit" name="button" class=" btn btn-danger">NEWGAME</button></a>


                    {% if result is not empty %}
                        {% if result != "It is a tie" %}
                        <h2>{{result}} WINS!</h2>
                        {% endif %}

                        {% if result == "It is a tie" %}
                        <h2>{{result}}!!!!</h2>
                        {% endif %}

                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h2>Player two</h2>
                    <form action="/player2" method="post">

                      <label for="player2">Player 2 Choice</label>
                      <select name="player2">
                        <option value="rock" selected>Rock</option>
                        <option value="paper">Paper</option>
                        <option value="scissors">Scissors</option>
                        <option value="lizard">Lizard</option>
                        <option value="spock">Spock</option>
                      </select>
                      <button type="submit">Choose</button>


                </div>
            </div>
         </div>
  </body>
</html>
