<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>RPS</title>
  </head>
  <body>
     <div class="container">
        <h1>Rock Paper Scissors (Lizard Spock)!</h1>
            {% if players is empty %}
            <div class="container">
                <form  action="/newplayers" method="post">
                    <label for="name1">Enter Player 1 name:</label>
                    <input type="text" name="name1" id='name1'>

                    <label for="name1">Enter Player 2 name:</label>
                    <input type="text" name="name2" id='name2'>

                    <button type="submit" class="btn btn-warning">Add Players</button>
                </form>
            </div>
            {% endif %}
            {% if players is not empty %}
                <h2>FIGHT!</h2>

            {% endif %}
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Player One</h2>
                    <form action="/player1" method="post">
                      <label for="player1">Player 1 Choice</label>
                      <select name="player1">
                        <option value="rock" selected>Rock</option>
                        <option value="paper">Paper</option>
                        <option value="scissors">Scissors</option>
                        <option value="lizard">Lizard</option>
                        <option value="spock">Spock</option>
                      </select>

                      <button type="submit">Choose</button>
                    </form>
                    <h2>Score: {{player1score}}</h2>


                </div>
                <div class="col-md-2">

                    <form  action="/results" method="post">
                        {% if chosen[0] is not empty %}
                        <h4>Ready Player One</h4>
                        {% endif %}
                        <button type="submit" name="button" class="btn btn-primary">SHOOT</button>
                        {% if chosen[1] is not empty %}
                        <h4>Ready Player Two</h4>
                        {% endif %}
                    </form>

                    <h3>Play Another Round?</h3>

                        <a href="/newgame"><button type="submit" name="button" class=" btn btn-success">NEWGAME</button></a>


                    {% if result is not empty %}
                        {% if result != "It is a tie" %}
                        <h2>{{result}} WINS!</h2>
                        {% endif %}

                        {% if result == "It is a tie" %}
                        <h2>{{result}}!!!!</h2>
                        {% endif %}

                    {% endif %}
                    <h4>WARNING: This will erase start a brand new match</h4>
                    <form  action="/reset_all" method="post">
                        <button type="submit" name="button" class="btn btn-danger">CLEAR ALL</button>
                    </form>

                </div>
                <div class="col-md-4">
                    <h2>Player two</h2>
                    <form action="/player2" method="post">

                      <label for="player2">Player 2 Choice</label>
                      <select name="player2">
                        <option value="rock" selected>Rock</option>
                        <option value="paper">Paper</option>
                        <option value="scissors">Scissors</option>
                        <option value="lizard">Lizard</option>
                        <option value="spock">Spock</option>
                      </select>
                      <button type="submit">Choose</button>
                  </form>
                  <h2>Score: {{player2score}}</h2>

                </div>
            </div>
         </div>
  </body>
</html>
