<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="/web/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="/web/css/bootstrap-theme.min.css" type="text/css">
      <link rel="stylesheet" href="/web/css/styles.css" type="text/css">
      <meta charset="utf-8">
    <meta charset="utf-8">
    <title>RPS</title>
  </head>
  <body>
    <h1>Rock Paper Scissors!</h1>
    <h2>{{result}} Wins!!!</h2>

    <a href="/">Again?</a>


  </body>
</html>
