<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RPS</title>
  </head>
  <body>
    <h1>Rock Paper Scissors!</h1>
    <h2>Ready Player One?</h2>
      <form action="/player2" method="post">
        <label for="player1">Player 1 Choice</label>
        <select name="player1">
          <option value="rock" selected>Rock</option>
          <option value="paper">Paper</option>
          <option value="scissors">Scissors</option>
        </select>

        <button type="submit">Pass the Turn</button>
      </form>


  </body>
</html>
